---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/home.css"/>
<main id="main"><form id="form">
	<button type="button" class="status" title="Checking..." onclick="checkStatus();"></button>
	<label for="to">To</label>
	<input type="text" id="to" name="to" value="hello@kimzuni.com" disabled/>
	<label for="title">Title</label>
	<input type="text" id="title" name="title" placeholder="Title..." autocomplete="off"/>
	<label for="content">Message</label>
	<textarea id="content" name="content" placeholder="Message..."></textarea>
	<div class="btnbox">
		<button type="reset">Reset</button>
		<button type="submit">Submit</button>
	</div>
	<p>The recipient is for reference only.</p>
</form></main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/darkmode.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/status.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/home.js"></script>
