---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/home.css"/>
<main id="main"><form>
	<label class="status" title="Checking..."><button type="button" onclick="checkStatus();" hidden></button></label>
	<label for="to">To</label>
	<input type="text" id="to" name="to" value="hello@kimzuni.com" disabled/>
	<label for="subject">Subject</label>
	<input type="text" id="subject" name="subject" placeholder="Subject..." autocomplete="off"/>
	<label for="content">Content</label>
	<textarea id="content" name="content" placeholder="Content..."></textarea>
	<div class="btnbox">
		<label>Reset<button type="reset" hidden></button></label>
		<label disabled>Submit<button type="submit" hidden disabled></button></label>
	</div>
	<p>The recipient is for reference only.</p>
</form></main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/darkmode.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/status.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/home.js"></script>
